<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Bienvenue chez Outremed</title>
</head>

<body>
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0"
        style="background-color: #f4f6f8; padding: 20px 10px;">
        <tr>
            <td align="center">
                <!-- CONTENEUR PRINCIPAL -->
                <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0"
                    style="max-width: 600px; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.05);">
                    <!-- CONTENU DU MAIL -->
                    <tr>
                        <td style="padding: 35px 30px; color: #2c3e50; font-size: 15px; line-height: 1.7;">
                            <img src="https://github.com/MorulaFault/assets-publics_outremed/blob/main/Mail/assets/img/outremed_logo.png?raw=true"
                                width="150" alt="Outremed"
                                style="display: block; width: 150px; height: auto; align-self: center;">

                            <p style="margin-top: 0; font-size: 16px;">Bèl bonjou <strong>
                                    <?= nom ?>
                                </strong>,</p>

                            <p>Félicitations déjà de t'engager dans cette noble voie qu'est le soin !</p>

                            <p>On est <strong>Outremed</strong>, un collectif de jeunes qui ambitionne de développer le
                                tutorat aux Antilles.</p>

                            <p>On se charge d'un accompagnement pour les étudiants Pass/Las. Et ce, gratuitement ! <br>
                                Car nous croyons que l'égalité des chances ne doit pas demeurer qu'un projet.</p>

                            <p>
                                style="text-align: center; font-weight: bold; margin: 25px 0 15px 0; color: #1a252f;
                                font-size: 16px;">
                                Conçu par et pour les étudiants !!! </p>

                            <p>Afin de pouvoir profiter des QCMs réalisés par la communauté, vous aurez besoin d'un
                                compte Wooflash.</p>

                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center"
                                style="margin: 30px auto;">
                                <tr>
                                    <td align="center" style="background-color: #ffffff; border-radius: 8px; border-color: #0a1219;">
                                        <a href="https://app.wooflash.com/auth/register" target="_blank"
                                            style="display: inline-block; padding: 14px 28px; font-family: Arial, sans-serif; font-size: 15px; color: #6E47F2; font-weight: bold; text-decoration: none; border-radius: 8px;">
                                            <img src="https://github.com/MorulaFault/assets-publics_outremed/blob/407ef0a723a3d1ceac1d698d8cb85da6060e091d/Mail/assets/img/discord.png?raw=true"
                                                width="20" height="15" alt="Discord"
                                                style="display: inline-block; vertical-align: middle; margin-right: 8px; border: 0;" />
                                            <span style="vertical-align: middle;">Inscription Wooflash</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <p>On a une communauté WhatsApp. <br> En arrivant, veille à bien prendre le temps de lire
                                les messages postés dans le salon <b>Annonces</b>.</p>
                            <!-- BOUTON PRINCIPAL WhatsApp -->
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center"
                                style="margin: 30px auto;">
                                <tr>
                                    <td align="center" style="background-color: #5865F2; border-radius: 8px;">
                                        <a href="https://chat.whatsapp.com/KPaQEwWrfjT9f8B06MS1Gp" target="_blank"
                                            style="display: inline-block; padding: 14px 28px; font-family: Arial, sans-serif; font-size: 15px; color: #ffffff; font-weight: bold; text-decoration: none; border-radius: 8px;">
                                            <img src="https://github.com/MorulaFault/assets-publics_outremed/blob/407ef0a723a3d1ceac1d698d8cb85da6060e091d/Mail/assets/img/discord.png?raw=true"
                                                width="20" height="15" alt="Discord"
                                                style="display: inline-block; vertical-align: middle; margin-right: 8px; border: 0;" />
                                            <span style="vertical-align: middle;">Rejoindre le Discord Outremed</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <p>On a également un serveur Discord mais qui pour l'instant est en cours de construction.
                            </p>

                            <!-- BOUTON PRINCIPAL DISCORD -->
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center"
                                style="margin: 30px auto;">
                                <tr>
                                    <td align="center" style="background-color: #5865F2; border-radius: 8px;">
                                        <a href="https://discord.gg/PwfdpXBYR" target="_blank"
                                            style="display: inline-block; padding: 14px 28px; font-family: Arial, sans-serif; font-size: 15px; color: #ffffff; font-weight: bold; text-decoration: none; border-radius: 8px;">
                                            <img src="https://github.com/MorulaFault/assets-publics_outremed/blob/407ef0a723a3d1ceac1d698d8cb85da6060e091d/Mail/assets/img/discord.png?raw=true"
                                                width="20" height="15" alt="Discord"
                                                style="display: inline-block; vertical-align: middle; margin-right: 8px; border: 0;" />
                                            <span style="vertical-align: middle;">Rejoindre le Discord Outremed</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <p>Alors si tu veux des copains de route, car <em>on ne va pas se cacher</em>, <u>ce n'est
                                    pas demain que tu prêteras serment</u>, rejoins-nous !</p>

                            <p style="margin-bottom: 0;">À très vite !</p>

                        </td>
                    </tr>

                    <!-- PIED DE PAGE AVEC RÉSEAUX SOCIAUX -->
                    <tr>
                        <td
                            style="padding: 25px 30px; background-color: #fafbfc; border-top: 1px solid #edf2f7; text-align: center;">

                            <p style="margin: 0 0 15px 0; font-size: 13px; color: #718096; font-weight: bold;">Retrouve
                                Outremed & Docteur au Soleil sur nos réseaux :</p>

                            <!-- TABLE DES ICÔNES SOCIALES -->
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center"
                                style="margin: 0 auto;">
                                <tr>
                                    <!-- SITE WEB -->
                                    <td style="padding: 0 12px;">
                                        <a href="https://sites.google.com/view/passlas-antilles-guyane/accueil?authuser=0"
                                            target="_blank" title="Site Docteur au Soleil">
                                            <img src="https://lh3.googleusercontent.com/sitesv/AG8ngQWpR0g-PkEyZ-BND2m7wWYNtMnBHl4bE0A8SxEdCeJl_zh4Fv4Rm3IBsQ1ulj3sp-BAInZdsbydvQPTVJSrNF8wOYp_7_QZhVzA8VlSTOW-HiFqYyKAnQzr6qI8JU6UyHyzouR7wU7iA_iqeX3Vn-nQXDbcxohhao5rl6JkauujNveVToSEo6EpvOjF=w16383"
                                                width="32" height="32" alt="Site Web"
                                                style="display: block; border: 0;" />
                                        </a>
                                    </td>
                                    <!-- INSTA DOCTEUR AU SOLEIL -->
                                    <td style="padding: 0 12px;">
                                        <a href="https://www.instagram.com/docteur_au_soleil?igsi=NzE3bHZjYzN4aHlk"
                                            target="_blank" title="Instagram Docteur au Soleil">
                                            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                                                width="32" height="32" alt="Instagram Docteur au Soleil"
                                                style="display: block; border: 0;" />
                                        </a>
                                    </td>
                                    <!-- INSTA OUTREMED -->
                                    <td style="padding: 0 12px;">
                                        <a href="https://www.instagram.com/outremedag?igsi=emozZ2FzMXQ5NGp5"
                                            target="_blank" title="Instagram Outremed">
                                            <img src="https://cdn-icons-png.flaticon.com/512/1384/1384063.png"
                                                width="32" height="32" alt="Instagram Outremed"
                                                style="display: block; border: 0;" />
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <p style="margin: 15px 0 0 0; font-size: 11px; color: #a0aec0;">Outremed — Collectivement
                                engagés pour la réussite des étudiants de santé.</p>

                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>

</html>